{{# each contents }}
<div class="card" style="border: none;">
<div style="margin-bottom:25px"></div>
    <div>
	<div>
	{{this.re_format}}
	</div>
	<div>
	{{{this.title}}}
	</div>
	<div style="margin-bottom:6px;">
	{{{this.full_news}}}
	</div>
</div>
</div>
{{/each}}